@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

button {
  margin: 0;
  font-family: inherit;
}

html {
  font-family: "ヒラギノ角ゴ ProN W3", "Noto Sans JP", sans-serif, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Verdana, Roboto, "Droid Sans", "Noto Sans KR", "Noto Sans SC", "Noto Sans TC", sans-serif;
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-size: 16px;
  color: red;
}

a {
  text-decoration: none;
}

.l-header {
  padding: 20px;
}

.l-main {
  height: 100vh;
}

.l-footer {
  text-align: center;
  padding: 20px;
}

.c-logo {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2rem;
  letter-spacing: 0.05em;
  color: #FFF;
}

.c-nav {
  display: none;
}
.c-nav__list {
  list-style: none;
}
.c-nav__item {
  margin: 1rem 0;
}
.c-nav__link {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 900px) {
  .c-nav {
    display: block;
    margin-top: 2rem;
  }
}
.c-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}
.c-button--ingredient {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}
.c-button__icon {
  display: inline-block;
  transition: transform 0.3s ease;
}

.c-sectionTitle {
  font-family: Barlow Condensed, -apple-system, Segoe UI, Helvetica Neue, sans-serif;
  font-size: 3.8rem;
  font-weight: 500;
  color: #FFF;
  text-align: center;
}

.c-modal__overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 9999;
}
.c-modal__overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.c-modal {
  position: fixed;
  top: 50%;
  left: 25%;
  transform: translate(-25%, -50%) translateY(-10px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 10000;
}
.c-modal.is-open {
  opacity: 1;
  pointer-events: auto;
}
.c-modal__content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.c-modal__productImage {
  width: 140px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-modal__frameWrap {
  position: relative;
}
.c-modal__frame {
  display: block;
  width: 600px;
  max-width: 100%;
}
.c-modal__inner {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-modal__ingredientImage {
  width: 450px;
}
.c-modal__close {
  position: absolute;
  top: 50px;
  right: 60px;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.c-modal__close::before, .c-modal__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35px;
  height: 1px;
  background: #fff;
}
.c-modal__close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.c-modal__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.c-modal__close:hover {
  transform: rotate(90deg);
}

.u-text-sub {
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 16px;
}

.p-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 375px);
  height: 100vh;
  background-color: aqua;
  background: url("../images/02_logo.png") center/cover no-repeat;
  overflow: hidden;
}
.p-sidebar__overlay {
  display: none;
  z-index: 10;
}
.p-sidebar__inner {
  position: relative;
  z-index: 1;
  padding: 2rem;
}
.p-sidebar__logo {
  position: absolute;
  top: 23px;
  left: 16px;
}
.p-sidebar__logo--link {
  display: inline-block;
}
.p-sidebar__logo--image {
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 900px) {
  .p-sidebar {
    display: none;
  }
}

.p-main {
  margin-left: calc(100% - 375px);
  width: 375px;
  height: 100vh;
  overflow-y: auto;
  background: #000;
}
@media (max-width: 900px) {
  .p-main {
    margin-left: 0;
    width: 100%;
    height: auto;
    overflow-y: visible;
  }
}
.p-main__section {
  margin-bottom: 6rem;
}
.p-main__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.p-main__text {
  line-height: 1.8;
}

.p-mv__img {
  height: 375px;
  height: 100vh;
  -o-object-fit: none;
     object-fit: none;
}

.p-campaign__content {
  padding: 0 1.6rem;
}
.p-campaign__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
  justify-items: center;
}
.p-campaign__item {
  width: 150px;
}
.p-campaign__link {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: #fff;
  text-decoration: none;
}
.p-campaign__imageInner {
  overflow: hidden;
}
.p-campaign__imageInner img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}
.p-campaign__link:hover .p-campaign__imageInner img {
  transform: scale(1.15);
}
.p-campaign__text {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.p-campaign__textDate {
  font-size: clamp(1.1rem, 1.5vw, 1.3rem);
  font-size: 1em;
  font-family: "Barlow Condensed", -apple-system, Segoe UI, Helvetica Neue, sans-serif;
  font-weight: 400;
}
.p-campaign__textTitle {
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  line-height: 1.4;
}

.p-product__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
.p-product__card {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
  cursor: pointer;
}
.p-product__card:hover {
  opacity: 0.7;
}
.p-product__card:hover .c-button__icon {
  transform: rotate(90deg);
}
.p-product__image {
  width: 84px;
  height: 210px;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}
.p-product__body {
  width: 100%;
  text-align: left;
}
.p-product__date {
  font-family: Barlow Condensed, -apple-system, Segoe UI, Helvetica Neue, sans-serif;
  font-weight: 500;
  font-size: 13px;
  opacity: 0.7;
}
.p-product__name {
  font-family: Barlow Condensed, -apple-system, Segoe UI, Helvetica Neue, sans-serif;
  font-weight: 500;
  font-size: 19px;
}
.p-product__area {
  font-size: 14px;
}

.p-ambassador__link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.p-ambassador__frame {
  width: 344px;
  height: 288px;
  background: #FFF;
  clip-path: polygon(5% 0%, 100% 0%, 100% 95%, 95% 100%, 0% 100%, 0% 5%);
  padding: 1px;
}
.p-ambassador__fill {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  clip-path: polygon(5% 0%, 100% 0%, 100% 95%, 95% 100%, 0% 100%, 0% 5%);
}
.p-ambassador__fill .p-ambassador__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  transition: 0.3s;
}
.p-ambassador__fill:hover .p-ambassador__overlay {
  background: rgba(0, 0, 0, 0.4);
}
.p-ambassador__image {
  width: 100%;
  height: 100%;
  transition: 0.3s;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-ambassador__image:hover {
  opacity: 0.7;
}
.p-ambassador__name {
  color: #FFF;
  text-align: center;
}

.u-mt20 {
  margin-top: 20px;
}

.u-mb20 {
  margin-bottom: 20px;
}

.u-text-center {
  text-align: center;
}