@use "foundation/variable";
@use "foundation/mixin";
@use "foundation/reset";
@use "foundation/base";

@use "layout/header";
@use "layout/main";
@use "layout/footer";

@use "object/component/btn";
@use "object/component/card";
@use "object/project/top-hero";
@use "object/utility/spacing";