.c-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;


  &--ingredient {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
  }


  &__icon {
    display: inline-block;
    transition: transform .3s ease;
  }
}