.c-hamburger {
  display: none;
}

@media(max-width: 900px) {
  .c-hamburger {
    display: block;
    position: fixed;
    top: 20px;
    right: 16px;
    width: 58.8px;
    height: 24px;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 10001;

    &__bar {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: #FFF;
      transition: transform 0.8s ease, top 0.3s ease;
    }

    &__bar:nth-child(1) {
      top: 6px;
    }

    &__bar:nth-child(2) {
      top: 16px;
    }

    &.is-open {
      .c-hamburger__bar:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }

      .c-hamburger__bar:nth-child(2) {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }
}