.c-hamburger {
  width: 58.8px;
  height: 58.8px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;

  &__bar {
    display: block;
    width: 100%;
    height: 1.5px;
    background: red;
    left: 0;
    transition: 0.3s;

    &:nth-child(1) {
      top: 35%;
    }

    &:nth-child(2) {
      top: 10%;
      background: blue;
    }
  }
}