.c-modal__overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 9999;

  &.is-open {
    opacity: 1;
    pointer-events: auto;
  }
}

.c-modal {
  position: fixed;
  top: 50%;
  left: 25%;
  transform: translate(-25%, -50%)translateY(-10px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 10000;

  &.is-open {
    opacity: 1;
    pointer-events: auto;
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  &__productImage {
    width: 140px;
    height: auto;
    object-fit: cover;
  }

  &__frameWrap {
    position: relative;
  }

  &__frame {
    display: block;
    width: 600px;
    max-width: 100%;
  }

  &__inner {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  &__ingredientImage {
    width: 450px;
  }

  &__close {
    position: absolute;
    top: 50px;
    right: 60px;

    width: 32px;
    height: 32px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 35px;
      height: 1px;
      background: #fff;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
      transform: rotate(90deg);
    }
  }
}

@media (max-width: 900px) {
  .c-modal {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 95vw;


    &__content {
      max-width: 95vw;
      align-items: center;
      gap: 18px;
    }

    &__productImage {
      width: 90px;
      flex-shrink: 0;
    }

    &__frame {
      width: 75vw;
      max-width: 420px;
    }

    &__inner {
      padding: 12px;
      max-height: 70vh;
      overflow-y: auto;
    }

    &__ingredientImage {
      width: 80%;
    }

    &__close {
      top: 30px;
      right: 40px;
    }
  }
}

@media (max-width: 480px) {
  .c-modal {
    &__content {
      gap: 8px;
    }

    &__productImage {
      width: 75px;
    }

    &__close {
      width: 24px;
      height: 24px;
      top: 25px;
      right: 30px;
    }

    .c-modal__close::before,
    .c-modal__close::after {
      width: 26px;
    }
  }
}