.c-modal {
  position: fixed;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &.is-open {
    opacity: 1;
    pointer-events: auto;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    gap: 32px;
    margin: auto;
  }

  &__productImage {
    width: 140px;
    height: auto;
    object-fit: cover;
  }

  &__frameWrap {
    position: relative;
  }

  &__frame {
    display: block;
    width: 600px;
    max-width: 100%;
  }

  &__inner {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__ingredientImage {
    width: 450px;
  }

  &__close {
    position: absolute;
    top: 50px;
    right: 60px;

    width: 32px;
    height: 32px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 35px;
      height: 1px; // ← ここで線の細さを完全制御できる
      background: #fff;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
      transform: rotate(90deg);
    }
  }

}