.c-sectionTitle {
  font-family: Barlow Condensed, -apple-system, Segoe UI, Helvetica Neue, sans-serif;
  font-size: 3.8rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 42.5px;

  &__jp {
    font-size: 2.5rem;
  }
}