.u-mt20 {
  margin-top: 20px;
}

.u-mt37 {
  margin-top: 37px;
}

.u-mt63 {
  margin-top: 63px;
}

.u-mt74 {
  margin-top: 74px;
}

.u-mb20 {
  margin-bottom: 20px;
}

.u-pt63 {
  padding-top: 63px;
}