.p-ambassador {
  &__frame {
    width: 340px;
    height: 340px;
    background: #FFF;
    clip-path: polygon(5% 0%,
        100% 0%,
        100% 95%,
        95% 100%,
        0% 100%,
        0% 5%);
    padding: 1px;
  }

  &__fill {
    width: 100%;
    height: 100%;
    overflow: hidden;
    clip-path: polygon(5% 0%,
        100% 0%,
        100% 95%,
        95% 100%,
        0% 100%,
        0% 5%);
  }

  &__image {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    object-fit: cover;

    &:hover {
      opacity: 0.7;
    }
  }

  &__name {
    color: #FFF;
    text-align: center;
  }
}