.p-ambassador {
  padding: 5px;

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__frame {
    width: 344px;
    height: 288px;
    background: #FFF;
    clip-path: polygon(5% 0%,
        100% 0%,
        100% 95%,
        95% 100%,
        0% 100%,
        0% 5%);
    padding: 1px;
    margin-top: 15.7px;
  }

  &__fill {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    clip-path: polygon(5% 0%,
        100% 0%,
        100% 95%,
        95% 100%,
        0% 100%,
        0% 5%);

    .p-ambassador__overlay {
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0);
      transition: 0.3s;
    }

    &:hover {
      .p-ambassador__overlay {
        background: rgba(0, 0, 0, 0.4);
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    object-fit: cover;

    &:hover {
      opacity: 0.7;
    }
  }

  &__item {
    margin-top: 31.5px;

    &--name {
      color: #FFF;
      text-align: center;
    }
  }
}