.p-campaign {
  &__content {
    padding: 0 1.6rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
    justify-items: center;
  }

  &__item {
    width: 150px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    color: #fff;
    text-decoration: none;
  }


  &__imageInner {
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;
      transition: transform 0.3s;
    }
  }

  &__link:hover {
    .p-campaign__imageInner img {
      transform: scale(1.15);
    }
  }


  &__text {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  &__textDate {
    font-size: clamp(1.1rem, 1.5vw, 1.3rem);
    font-size: 1em;
    font-family: "Barlow Condensed",
      -apple-system, Segoe UI, Helvetica Neue, sans-serif;
    font-weight: 400;
  }

  &__textTitle {
    font-size: 1em;
    line-height: 1.4;
  }
}