.p-footer__inner {
  &--link {
    display: inline-block;
    width: 134px;
    height: 134px;

    &:hover {
      opacity: 0.8;
    }
  }

  &--logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}