@use "../../foundation/variable" as v;

.p-product {

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }

  &__card {
    appearance: none;
    padding: 0;
    border: none;
    background: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #FFF;
    cursor: pointer;

    &:hover {
      opacity: 0.7;

      .c-button__icon {
        transform: rotate(90deg);
      }
    }
  }

  &__image {
    width: 84px;
    height: 210px;
    display: block;
    object-fit: contain;
  }

  &__body {
    width: 100%;
    text-align: left;
  }

  &__date {
    font-family: v.$main-font-family;
    font-weight: v.$main-font-weight;
    font-size: 13px;
    opacity: 0.7;
  }

  &__name {
    font-family: v.$main-font-family;
    font-weight: v.$main-font-weight;
    font-size: 19px;
  }

  &__area {
    font-size: 14px;
  }
}