@use "../../foundation/variable" as v;

.p-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - #{v.$pc-main-width}); // 左の幅
  height: 100vh;
  background-color: aqua;
  background: url("../images/02_logo.png") center / cover no-repeat;
  overflow: hidden;

  &__overlay {
    display: none;
    z-index: 10;
  }

  &__inner {
    position: relative;
    z-index: 1;
    padding: 2rem;
  }

  &__logo {
    position: absolute;
    top: 23px;
    left: 16px;

    &--link {
      display: inline-block;
    }

    &--image {
      height: 20px;
      object-fit: cover;
    }
  }


  @media (max-width: v.$breakpoint-md) {
    display: none;
  }
}