$color-text: #222;
$color-bg-main: #f7f7f7;
$color-overlay: rgba(0, 0, 0, 0.55);

$breakpoint-md: 900px;
$pc-main-width: 375px;

$main-font-family: Barlow Condensed, -apple-system, Segoe UI, Helvetica Neue, sans-serif;
$main-font-weight: 500;